#hero {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links {
  width: 400px;
  text-align: left;
  font-size: x-large;
  color: black;
  display: flex;
  flex-direction: column;
}

#links a {
  color: black;
  text-decoration: none;
  margin-top: 20px;
  margin: 10px 0px;
  border: black 1px solid;
  border-radius: 5px;
  padding: 10px;
}

#links a:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

#header {
  max-width: 1200px;
}

#dogview {
    max-height: 80vh;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dogview img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    transform: scale(1.8);
    border-radius: 5px;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 0px 0px 5px 1px rgb(216, 216, 216, 0.5);
}
#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

#skip {
    background-color: gray;
}
#save {
    background-color: green;
}

#skip,
#save {
    padding: 5px 30px 5px 30px;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(230, 230, 230);
}
#title {
    text-align: center;
    padding-top: 10px;
    border-bottom: 1px solid #a8a8a8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
